.App {
  text-align: center;
  background-color: #8697b9;
  margin: 0 auto;
  padding: 100px 50px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  margin-top: 50px;
  color: white;
}

footer a {
  color: white;
  transition: all 150ms ease-in-out;
}

footer a:hover {
  font-weight: 600;
}
